# #
# Application

APP_ENV=production

# #
# Infrasturucture

# server
PRODUCTION_API_HOST=0.0.0.0
PRODUCTION_API_PORT=28201
PRODUCTION_API_CONTAINER_PORT=28201

# DB
PRODUCTION_POSTGRES_USER=personal_secret
PRODUCTION_POSTGRES_PASSWORD=change-me-to-a-strong-secret
PRODUCTION_POSTGRES_HOST=database
PRODUCTION_POSTGRES_PORT=25635
PRODUCTION_POSTGRES_CONTAINER_PORT=5432
PRODUCTION_POSTGRES_DB=personal_secret

# #
# Feature

# crypto
PRODUCTION_ARGON2_TIME_COST=3
PRODUCTION_ARGON2_MEMORY_COST=65536
PRODUCTION_ARGON2_PARALLELISM=4
PRODUCTION_SESSION_TTL_SEC=900